@import url('https://fonts.googleapis.com/css2?family=Zeyada&display=swap');

* {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html {
  height: 100%;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  background-image: url('./assets/background.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

.content {
  display: none;
  justify-content: center;
  align-items: center;
}

.paper {
  background: #c8ea9ee9;
  padding: 1.25rem 5rem;
  transform: rotateZ(-5deg);
  box-shadow: 1px 15px 30px 10px rgba(0, 0, 0, 0.5);
  position: absolute;
  border-radius: 50% 10% 50% 10% / 10% 50% 10% 50%;
}

.paper.heart {
  position: relative;
  width: 12.5rem;
  height: 12.5rem;
  padding: 0;
  border-radius: 50%;
}

.paper.image {
  padding: 1rem;
}
.paper.image p {
  font-size: 2rem;
}

img {
  max-height: 12.5rem;
  width: 100%;
  user-select: none;
  filter: brightness(100%) !important;
  border-radius: 1.25rem;
}

.paper.heart::after {
  content: '';
  background-image: url('./assets/heart.webp');
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: 9.5rem;
  background-position: center center;
  background-repeat: no-repeat;
  opacity: 0.6;
}

p {
  font-family: 'Zeyada';
  font-size: 2rem;
  color: rgb(0, 0, 100);
  opacity: 0.75;
  user-select: none;
  text-align: center;
}
